@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-input-background: #DCE5ED;
  --color-header: #C9D6DF;
  --color-red : #CE4257;
  --color-blue : #004385;
  --color-green : #519872;
  --color-temp-gray : #dcdcdc;
  --color-temp-darkgray : #5d5d5d;
  --color-temp-gray2 : #b4b4b4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}
